.payment-links {
	position: relative;
}
.payment-links .add-payment,
.payment-links .payment-list {
	width: auto;
	border: 2px solid #444;
	padding: 25px;
	margin-bottom: 20px;
}

/* Add New Payment Style */
.add_new_payment {
	position: relative;
}
.add_new_payment input::placeholder {
	font-size: 15px;
}
